
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/images/LogoIcon.png" />
    <title>@ViewData["Title"] - eDnevnik</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/3734ca8b66.js" crossorigin="anonymous"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="~/css/sidebar.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <style>
        #nav {
            background-color: white;
        }

        #content {
            background-color: rgb(204, 232, 240);
        }

        #sidebar a {
            color: white;
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>eDnevnik</h3>
            </div>

            <ul class="list-unstyled components">
                <p style="font-weight:600;text-align:center;text-decoration:underline;">IZBORNIK</p>
                <li class="active">
                    <a asp-controller="Admin" asp-action="HomePageAdmin">Početna</a>
                </li>
                <li>
                    <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false">Nastavno osoblje</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu1">
                        <li>
                            <a asp-action="Prikaz" asp-controller="Nastavnik">Pregled</a>
                        </li>
                        <li>
                            <a asp-action="Dodaj" asp-controller="Nastavnik">Dodaj</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false">Predmeti</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <a asp-action="OverviewPredmet" asp-controller="Predmet">Pregled</a>
                        </li>
                        <li>
                            <a asp-action="Add" asp-controller="Predmet">Dodaj</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>Učenici</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Session">Aktivne sesije</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <div class="container">
                        &copy; 2019 - eDnevnik
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav id="nav" class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">

                    <button style="border:none; background-color:rgb(55,80,108); color:white;" type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <a asp-controller="Admin" asp-action="HomePageAdmin"><img src="~/images/logo-png.png" id="logo" alt="Logo" width="240" height="70" /></a>
                    <a asp-controller="Login" asp-action="Index" style="margin-right: 30px; border:none; background-color:rgb(55,80,108); color:white;" class="btn btn-outline-primary">ODJAVA</a>
                </div>
            </nav>
            <div id="render">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="overlay"></div>


    <!-- Core plugin JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/skripte.js"></script>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }


</body>

</html>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
    window.setTimeout(function () {
        $("#msg").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);

</script>
